block variables

mixin block-title(icon, text)
  .block-title(style=`background-image: url('./assets/img/${icon}.png')`) #{text}

mixin grades(name, ...skills)
  li.skills__item
    span.skills__item-name= name
    ul.skills-row
      each skill in skills
        li.skills-row__item
          svg(class="circles" viewBox='0 0 110 110')
            circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
            circle(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="circle__second circle-15")
          .skill-row__title= skill

mixin description(title, descSkills)
  .works__desc
    .works__desc-title
      .block-subtitle= title 
    .works__desc-skills= descSkills
    .works__desc-btn
      a(href="#").works__desc-btn-link
        .works__desc-btn-pic
          svg.works__desc-btn-icon
            use(xlink:href="./assets/img/sprite.svg#link")
        span.works__desc-btn-text Посмотреть сайт

mixin list(className, array)
  ul(class=`${className}__list`)
    each object, index in array
      - var empty = ""
      if (index == 0)
        li(class=`${className}__item ${className}__item_first`)
          a(href=`${object.href}`, class=`${className}__link block-subtitle`)= object.text
      else
        li(class=`${className}__item`) 
          a(href=`${object.href}`, class=`${className}__link block-subtitle`)= object.text

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    //- favicon block end

    link(rel='stylesheet' href='./assets/css/foundation.css')
    link(rel='stylesheet' href='./assets/css/app.css')


    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

  body
    block content

    script(src='./assets/js/foundation.js' defer)
    script(src='./assets/js/app.js' defer)
