extends ../_template

block variables
	- var title = 'About'

block content
	section.section.hero
		img.hero__bg(src="./assets/img/hero.jpg")
		.hero__container
			.hero__socials
				ul.socials
					each item in ['vk', 'github', 'in']
						li.socials__item
							a(href="#").socials__link
								svg.socials__icon.socials__icon_hero
									use(xlink:href=`./assets/img/sprite.svg#${item}`)
			.hero__burger-menu.burger-menu
				.burger-menu__close
					.burger-menu__hamburger
				.burger-menu__open.hidden Главное меню
					.burger-menu__open-right
					.burger-menu__open-left
					.burger-menu__open-text
						-
							var navMain = [
								{ href: "works.html", text: "Мои работы" },
								{ href: "about.html", text: "Обо мне" },
								{ href: "blog.html", text: "Блог" },
								{ href: "index.html", text: "Авторизация" }
							];
						+list("burger-menu", navMain)
			.hero__title
				.section-title
					svg.section-title__pic
						use(xlink:href="./assets/img/sprite.svg#portfolio_header")
			.user.hero__user
				.user__block
					.user__pic
						img(src="./assets/img/user1.jpg", alt="me").user__img
					.user__description
						.user__name Татьяна Марокина
						.user__info Личный сайт веб разработчика
			.arrow-down.hero__arrow-down
				svg.arrow-down__pic
					use(xlink:href="./assets/img/sprite.svg#arrow_down")
	section.section.about
		.about__left-triangle
			.triangle.triangle_fill_beige
				svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
					polygon(points="0,0 0,150 1000,150")
		.about__right-triangle
			.triangle.triangle_fill_white
				svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
					polygon(points="1000,0 1000,150 0,150")
		.about__main-contant
			.about__left
				.about__left-title
					+block-title('about_header', 'Обо мне')
				.about__left-content
					.user-about
						.user-about__img
							img(src="./assets/img/user1.jpg", alt="me" width="443" height="390").user-about__pic
						.user-about__title
							.block-subtitle Кто я
						.user-about__text.text-content
							p Я веб разработчик из Москвы. Мне 31 год.  Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
							p Этот сайт я сделала в рамках обучения в Школе онлайн образования LOFTSCHOOL. По мере своего развития я буду постоянно пополнять контент. А пока посмотрите, как тут все здорово и красиво!
			.about__right
				.about__right-title
					.block-subtitle Чем я могу быть вам полезен
				.about__right-description.text-content
					p На данном этапе меня больше привлекает Frontend разработка, но я также знакома и могу решать несложные задачи на Backend. Но давайте по порядку.
				.about__right-content
					ul.skills
						+grades('Frontend', 'HTML5', 'CSS3', 'JavaScript')
						+grades('Backend', 'PHP', 'mySQL', 'Node.js & npm', 'Mongo.db')
						+grades('Workflow', 'Git', 'Gulp', 'Bower')
	section.section.map
		.wrapper.wrapper_map
			.map__main-content
				.google-map
				.map__contacts
					.contacts
						.contacts__title
							.block-subtitle Контакты
						ul.contacts__list
							-
								var contacts = [
									['skype', 'pink_panter_cyk'],
									['envelope2', 'tania.marokina@gmail.com'],
									['phone2', '+7968 468 6763'],
									['map_marker', 'Москва']
								];
							each contact in contacts
								li.contacts__item
									//-.contacts-row
									.contacts__icon
										svg.contacts__icon-pic
											use(xlink:href=`./assets/img/sprite.svg#${contact[0]}`)
									.contacts__content #{contact[1]}
			footer.footer
				.container
					nav.footer__nav
						ul.footer__nav-list
							-
								var pages = [
									['works', 'Мои работы'],
									['about', 'Обо мне'],
									['blog', 'Блог'],
									['index', 'Авторизация']
								];
							each page in pages
								li.footer__nav-item
									a(href=`${page[0]}.html`).footer__nav-link #{page[1]}
					.footer__socials
						ul.socials
							each item in ['vk', 'github', 'in']
								li.socials__item
									a(href="#").socials__link
										svg.socials__icon.socials__icon_footer
											use(xlink:href=`./assets/img/sprite.svg#${item}`)
				.footer__copyright
					p &copy; Марокина Татьяна | Создано с любовью в LOFTSCHOOL 2017

	include ./preloader