extends ../_template

block variables
	- var title = 'Blog'

block content
	section.section.hero
		img.hero__bg(src="./assets/img/hero.jpg")
		.hero__container
			.user.hero__user
				.user__pic(style="background-image: url('./assets/img/user.jpg')")
				.user__description
					.user__title-blog
						+block-title('blog_header', 'Блог')
					.user__info Статьи, которые я написала
	section.section.blog
		.blog__left-triangle
			.triangle.triangle_fill_white
				svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
					polygon(points="0,0 0,150 1000,150")
		.blog__right-triangle
			.triangle.triangle_fill_white
				svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
					polygon(points="1000,0 1000,150 0,150")
		.blog__content
			aside.blog__sidebar
				nav.blog__nav
					ul.blog__nav-list
						-
							var articles = [
									'Самое важное в SASS',
									'Самое важное в SASS',
									'Самое важное в SASS'
							];
						each item, index in articles
							li.blog__nav-item
								a(href=`#article${index}`).blog__nav-link.blog__nav-link_active #{item}
			.blog__articles
				.blog__article
					.blog__article-header(id="article0") Самое важное в SASS
					.blog__article-date 22 ноября 2016
					.blog__article-text.text-content
						p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
						p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
						img(src="./assets/img/article_pic.png", alt="code").blog__article-pic
				.blog__article
					.blog__article-header(id="article1") Самое важное в SASS
					.blog__article-date 22 ноября 2016
					.blog__article-text.text-content
						p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
						p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
						img(src="./assets/img/article_pic.png", alt="code").blog__article-pic
				.blog__article
					.blog__article-header(id="article2") Самое важное в SASS
					.blog__article-date 22 ноября 2016
					.blog__article-text.text-content
						p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
						p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
						img(src="./assets/img/article_pic.png", alt="code").blog__article-pic
		footer.footer
			.container
				nav.footer__nav
					ul.footer__nav-list
						each link in ['Мои работы', 'Обо мне', 'Блог', 'Авторизация']
							li.footer__nav-item
								a(href="").footer__nav-link #{link}
				.footer__socials
					ul.socials
						each item in ['vk', 'github', 'in']
							li.socials__item
								a(href="#").socials__link
									svg(class=`socials__icon socials__icon_${item} socials__icon_${item}_footer`)
										use(xlink:href=`./assets/img/sprite.svg#${item}`)
			.footer__copyright
				p &copy; Марокина Татьяна | Создано с любовью в LOFTSCHOOL 2017